.root {
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border: none;
  height: 66px;
  outline: 0;
  border-radius: 11px;
  cursor: pointer;
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px 9px;

  color: var(--dark);

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 6px;
  }
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    filter: grayscale(1);
  }
}
.allow {
  background: var(--allow);
}
.primary {
  background: var(--primary);
}
.danger {
  background: var(--danger);
}
